/*add google font*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

/*App*/
* {
    box-sizing: border-box;
    outline: none;
}

::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 6px;
    background-color: #2a2c52;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

body, html, #root {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    overflow-y: hidden;
}

.App {
    min-width: 1200px;
    min-height: 680px;
    height: 100%;
    width: 100%;
    background: #5759a0;
}

/*Menu*/
.MenuBlock {
    background: #383a6d;
    height: 100%;
    width: 90px;
    display: inline-block;
    vertical-align: top;
}

.MenuBlock .Menu {
    height: 100%;
}

.MenuBlock ul {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
}

.MenuBlock ul li {
    display: block;
    text-align: center;
}

.MenuBlock ul li span,
.MenuBlock ul li svg {
    color: rgb(151 152 208);
}

.MenuBlock ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    padding: 20px 0;
}

.MenuBlock ul li.active a {
    background: #5759a0;
}

.MenuBlock ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

.MenuBlock ul li span {
    display: block;
    padding-top: 5px;
}

.MenuBlock ul li.active span,
.MenuBlock ul li.active svg {
    color: #ffffff;
}

.MenuBlock ul li.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #323465;
}

/*List*/
.ListBlock {
    width: 380px;
    vertical-align: top;
    padding: 20px;
    display: inline-block;
    height: 100%;
    overflow: hidden;
}

.ListBlock:hover {
    overflow-y: overlay;
}

/*ListBookItem*/
.ListBookItem {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    vertical-align: top;
    background: #383a6d;
    color: white;
    margin-top: 20px;
    border-radius: 6px;
    font-size: 0;
}

.ListBookItem:hover {
    cursor: pointer;
}

.ListBookItem .image {
    border-radius: 6px;
    vertical-align: top;
    margin: 10px;
    position: relative;
    width: 86px;
    height: 130px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
}

.ListBookItem .data-block {
    font-size: 14px;
    width: calc(100% - 110px);
    display: inline-block;
    vertical-align: top;
    padding: 10px 10px 10px 0;
}

.ListBookItem .data-block .name {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ListBookItem .data-block .author {
    font-size: 12px;
    padding: 10px 0;
}

.ListBookItem .data-block .desc {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: rgb(151 152 208);
}

/*ListSearch*/
.ListBlock .ListSearch ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff73;
    opacity: 1;
}

.ListBlock .ListSearch :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff73;
}

.ListBlock .ListSearch ::-ms-input-placeholder { /* Microsoft Edge */
    color: #ffffff73;
}

.ListBlock .ListSearch .search-block {
    position: relative;
}

.ListBlock .ListSearch .search-block svg {
    position: absolute;
    right: 10px;
    top: 10px;
}

.ListBlock .ListSearch .search-input {
    border: 1px solid #393b70;
    font-size: 18px;
    width: 100%;
    border-radius: 6px;
    box-sizing: border-box;
    background: #393b70;
    padding: 10px 45px 10px 15px;
    color: white;
}

.ListBlock .ListSearch .search-input:focus {
    outline: none;
    border: 1px solid #ccccccc9;
}

.ListBlock .ListSearch .search-chips {
    text-align: right;
    margin: 0 -5px 0 0;
    padding: 20px 0;
}

.ListBlock .ListSearch .search-chips li {
    display: inline-block;
}

.ListBlock .ListSearch .search-chips li a {
    text-decoration: none;
    padding: 3px 10px;
    margin: 5px;
    border-radius: 16px;
    font-weight: 200;
    font-size: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    vertical-align: top;
    background: #383a6d;
    color: white;
}

/*ListContent*/
.ListBlock .ListContent {
    height: calc(100% - 105px);
}

.ListBlock .ListContent .List {
    padding-bottom: 20px;
}

.ListBlock .ListContent .List .ListBookItem:first-child {
    margin-top: 0;
}

/*AppContent*/
.AppContent {
    background: #f9f9ff;
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 470px);
    height: 100%;
    padding: 30px;
}

.AppContent:hover {
    overflow-y: overlay;
}

/*BookView*/
.BookView .block-view:first-child {
    margin-top: 0;
}

.BookView .block-view {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    vertical-align: top;
    background: white;
    color: #383a6d;
    padding: 30px;
    margin-top: 30px;
    border-radius: 6px;
}

.BookView .block-view .image-book {
    border-radius: 6px;
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 210px;
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.BookView .block-view.block-book .data-block {
    display: inline-block;
    width: calc(100% - 210px);
    padding: 0 0 0 30px;
}

.BookView .block-view .title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
}

.BookView .block-book {
    padding: 0;
}

.BookView .block-book .block-book-data {
    padding: 30px;
}

.BookView .block-book .name {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 15px;
}

.BookView .block-book .author {
    font-size: 14px;
    opacity: 0.7;
}

.BookView .block-book .data {
    padding: 0;
    margin: 0;
}

.BookView .block-book .data li {
    display: table;
    width: 100%;
    padding-top: 15px;
}

.BookView .block-book .data li strong {
    display: table-cell;
    min-width: 150px;
}

.BookView .block-book .data li span {
    display: table-cell;
    width: 100%;
}

.BookView .block-book .block-user {
    padding: 20px 30px;
    background: #f7f7ff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.BookView .block-book .block-user .image-user {
    border-radius: 50%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 43px;
    height: 43px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.BookView .block-book .block-user .data-block {
    display: inline-block;
    width: calc(100% - 50px);
    padding: 0 0 0 20px;
}

.BookView .block-book .block-user .title {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
}

.BookView .block-book .block-user .desc {
    font-size: 13px;
    padding-bottom: 5px;
}
